<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>

<body>
  <%- include('header.ejs') %>
  <main>
    <section class="admin-body">
      <div class="container">
        <%- include('productForm.ejs') %>
        <h3>Product list</h3>
        <% if(!products || products.length ===0) { %>
          <p class="no-product">No products</p>
          <% } else { %>
            <div class="row">
              <% products.forEach (product => { %> <% if (product._id == editId) {
                %>
                <!-- editing product list -->
                <div class="card col-12 col-md-4 col-lg-3 admin-productList">
                  <form action="/edit/<%= product._id %>" method="post">
                    <div class="product-img">
                      <img
                      src="/uploads/<%= product.pathOfImage %>"
                      alt="can not find an image"
                      height="150px"
                      />
                    </div>
                    <div class="edit-form">
                      <input
                      type="text"
                      value="<%= product.name %>"
                      name="name"
                      id=""
                      />
                      <input
                      type="text"
                      value="<%= product.description %>"
                      name="description"
                      id=""
                      />
                      <input
                      type="text"
                      value="<%= product.content %>"
                      name="content"
                      id=""
                      />
                  
                      <input
                      type="number"
                      value="<%= product.price %>"
                      name="price"
                      id=""
                      />
                      <button type="submit" class="btn btn-success">Update</button>
                      <button class="btn btn-dark delete">
                        <a href="/remove/<%= product._id %>"> Delete</a>
                      </button>
                    </div>
                  </form>
                </div>
                <% } else { %>
                  <!-- showing product list -->
                  <div class="card col-12 col-md-4 col-lg-3 admin-productList">
                    <div class="product-img">
                      <img
                      src="/uploads/<%= product.pathOfImage %>"
                      alt="can not find an image"
                      height="150px"
                      />
                    </div>
                    <div class="product-detail">
                      <a href="?editId=<%= product._id %>"
                        ><span class="fas fa-pen"></span
                          ></a>
                          <h5 style="font-weight: bold"><%= product.name %></h5>
                          <p><%= product.description %></p>
                          <p style="font-weight: bold"><%= product.price %> SEK</p>
                          <p style="font-weight: bold; margin-bottom:0;">Content per 100 g</p>
                          <p><%= product.content %></p>
                        </div>
                      </div>
                      <% } %> <% }) %>
                    </div>
                    <% } %>
                  </div>
                </section>
                <%- include('footer.ejs') %>
              </main>
            </body>
            </html>
            