<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>

<body onload="ScrollToBottom('<%= pageIndex %>')";>
  <%- include('header.ejs') %>
        <main>
          <section>
            <img src="/pictures/torfolkgard_start_cut.png" class="heroSection" alt="">
          </section >
          
          <section class="productList">
            
            <div class="container">
              <p class= "about">Ipsam quisquam facilis similique incidunt ducimus. LorLorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, placeat. In, rem! Iste, quisquam optio molestias doloribus hic reiciendis esse eveniet dicta harum.
                Ipsam quisquam facilis similique incidunt ducimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, placeat. In, rem! Iste, quisquam optio molestias doloribus hic reiciendis esse eveniet dicta harum. 
              </br>
              </br> 
                Ipsam quisquam facilis similique incidunt ducimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, placeat. In, rem! Iste, quisquam optio molestias doloribus hic reiciendis esse eveniet dicta harum. 
                Ipsam quisquam facilis similique incidunt ducimus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, placeat. In, rem! Iste, quisquam optio molestias doloribus hic reiciendis esse eveniet dicta harum. 
              </p>
              <h3 class="PrdList">Our product</h3>
              <div class="row">
                <% products.forEach(product => { %>
                <div class="card col-6 col-md-4 col-lg-3 minicard" id="space-btw" style="width: 18rem;">
                  <a class="imagebox" href="/products/<%= product.id %>"><img src="/uploads/<%= product.pathOfImage %>" class="card-img-top myImg" alt=""></a>
                  <div class="card-body">
                    <a class="imagebox" href="/products/<%= product.id %>"><h5 class="card-title"> <%= product.name %></h5></a>
                    <p class="card-text"> <%= product.price %> SEK</p>
                    <span class="buyBtn">
                      <form  method="GET" action="/addToCart/<%= product.id %>">
                        <input type="submit" value="Buy" class="buybtn">
                    </form>
                    </span>
                    <!-- <a href="/addToCart/<%= product.id %>" class="add-to-cart">
                    <span class="fas fa-shopping-basket"></span>
                    </a> -->
                  </div>
                </div>
                <% }); %>
              </div> 
        </div>
        <% if(pageIndex * pageSize < totalProductCount) { %>
          <% pageIndex += 1 %>
        <div id="bottom"  style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
            <a class="loadMore"  href="<%= `/?pageIndex=${pageIndex}` %>">LOAD MORE</a>
        </div>
      <% } %>
       </section>
       <%- include('footer.ejs') %>
      </main>
        <script src="/javascripts/index.js"></script>
      </body>
    </html>
</body>

</html>