<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') %>

<body>
    <%- include('header.ejs') %>
    <main>
        <section class="productList PrdtPg">
            <div class="container product-body">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 img-center">
                        <img src="/uploads/<%= product.pathOfImage %>" alt="jam" class="product-img">
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 product-detail" >
                        <h3 class=> <%= product.name %></h3>
                        <p class=> <%= product.description %></p>
                        <p class=> <%= product.price %> SEK</p>
                        <p style="font-weight: bold;"id="showContent"><i class="fas fa-plus" onclick="showContent('content')"></i> Content 100 g</p>
                        <p id="content" class="hidden"><%= product.content %></p>
                        <form  method="GET" action="/addToCart/<%= product.id %>">
                            <input type="submit" value="Buy" class="buybtn">
                        </form>
                    </div>
                </div>
            </div>
        </section >
        <%- include('footer.ejs') %>
    </main>
    <script src="/javascripts/index.js"></script>
</body>
</html>